accelerate==1.12.0
biopython==1.86
biotite==1.6.0
black==26.1.0
click==8.3.1
einops==0.8.2
flake8==7.3.0
isort==7.0.0
mosaicml==0.32.1
numpy==1.26.4
pandas==2.2.2
pre_commit==4.5.1
pydantic==2.12.3
pynvml==13.0.1
pytorch-lightning==2.6.1
torch==2.7.0
transformers==4.49.0
tqdm==4.67.2
tokenizers==0.21.4
ruamel.yaml==0.19.1